<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"	
	xmlns:mvc="http://www.springframework.org/schema/mvc" 	
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd" >




	<context:annotation-config />
	<context:component-scan base-package="org.maomao.controller.ajax"></context:component-scan>
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- 静态资源 --> 
	<mvc:resources location="/" mapping="/*/*.ico"></mvc:resources>
	<mvc:resources location="/" mapping="/*.png"></mvc:resources>
	<mvc:resources location="/" mapping="/*/*.js"></mvc:resources>
	<mvc:resources location="/" mapping="/*/*.css"></mvc:resources>
	<mvc:resources location="/" mapping="/*.html"></mvc:resources>
	<mvc:resources location="/" mapping="/*/*.woff2"></mvc:resources>
	<mvc:resources location="/" mapping="/*/*.woff"></mvc:resources>
	<mvc:resources location="/" mapping="/*/*.ttf"></mvc:resources>
	<mvc:resources location="/" mapping="/*/*.svg"></mvc:resources>
	<mvc:resources location="/" mapping="/*/*.eot"></mvc:resources>
	<mvc:resources location="/" mapping="/*/*.otf"></mvc:resources>
	<mvc:resources location="/" mapping="/*/*.gif"></mvc:resources>
	<mvc:resources location="/" mapping="/*/*.html"></mvc:resources>
	<mvc:resources location="/" mapping="/*.csv"></mvc:resources>
	<mvc:resources location="/" mapping="/*/*.png"></mvc:resources>
	
	<mvc:resources location="/" mapping="/*/*/*.js"></mvc:resources>
	<mvc:resources location="/" mapping="/*/*/*.css"></mvc:resources>
	<mvc:resources location="/" mapping="/*/*/*.html"></mvc:resources>						



	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">

		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>